html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*style globale*/
header, footer , main {
    padding: 2rem;
    font-family: Arial, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    padding: 20px;
    background-color: #00B9BB;
}

div.test {
    font-family: Arial, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*styl font*/

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0px 20px ;
}

a {
    color: white;
    text-align: center;
    margin: 1rem;
}

p.footer {
    color: white;
    align-items: center;
}

/*style image*/

img {
    margin: 10px;
    padding: 10px;
    border: 5px solid darkslategray;
}

/*style acceuille*/

a.static {
    background-color: darkorange;
    width: 400px;
}

a.cgi {
    background-color: royalblue;
    width: 400px;
}

img.map {
    width: 1000px;
}

/*style index*/

a.in {
    border: 3px solid black;
    padding: 1rem;
}

a.out {
    padding: 0.9rem;
}

/*style aside*/
aside {
    display: flex;
    flex-direction: row;
    background-color: #00B9BB;
    align-items: center;
}

a.request {
    width: 255px;
}

img.site {
    width: 1000px;
    height: 600px;
}

form {
    border: 3px solid black;
    padding: 1rem;
    margin: 1rem;
}





