html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*style globale*/
header, footer, main {
  padding: 20px;
  font-family: Arial, serif;
  display: flex;
}

header, footer {
  background-color: #00B9BB;
  flex-direction: column;
  align-items: center;
}
main {
  flex-direction: column;
  align-items: center;
}

div.index {
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0;

}

img{
  margin: 0 auto 10px;
  padding: 10px;
  border: 5px solid darkslategray;
}

a {
  color: white;
  align-items: center;
}

p {
  color: white;
  align-items: center;
}

header .link {
  display: inline-block;
  width: 100px;
}

header .link.active {
  padding: 0 0 5px;
  border-bottom: 10px solid #fff;
}

header .link.inactive {
  padding: 0 0 10px;
  border-bottom: 5px solid #fff;
}

p{
  padding: 10px 0;
}

/*style accueille.html*/

div.redir {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

a.static{
  background-color: darkorange;
  padding: 1rem 10rem;
  margin-right: 2rem;
}

a.cgi{
  background-color: royalblue;
  padding: 1rem 10rem;
  margin-left: 2rem;
}

img.map{
  width: 1000px;
}

img.site{
  margin-left: 15rem;
  width: 1000px;
}

aside {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50rem;
  background-color: #00B9BB;
}

a.aside {
  padding: 2rem 2rem;
}

